---
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

import { getCollection } from 'astro:content';

const deeds = (await getCollection('deed')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<MarkdownLayout title="历史版本归档">
    <p>历史版本归档：</p>
    <p>全部版本列表包括草稿，你可以在最新草稿提交PR。</p>
    {deeds.map(deed => 
        <p class="text-lg"><a href={`/deeds/${deed.id}`}>{deed.data.title}</a></p>
    )}
</MarkdownLayout>