@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-sm: 32rem;
    --breakpoint-md: 38rem;
    --breakpoint-lg: 42rem;
    --breakpoint-xl: 42rem;
    --breakpoint-2xl: 42rem;
}

article {
    @apply prose prose-neutral dark:prose-invert;
}