@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-sm: 32rem;
    --breakpoint-md: 38rem;
    --breakpoint-lg: 44rem;
    --breakpoint-xl: 44rem;
    --breakpoint-2xl: 44rem;
}

body {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,"Liberation Mono",Inter,Inter Fallback,sans-serif;
}

article {
    @apply prose prose-neutral max-w-none dark:prose-invert ;
    @apply prose-headings:font-medium;
    @apply *:first:mt-0
}

a:hover {
    @apply text-blue-400 dark:text-blue-700;
}