@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-sm: 32rem;
    --breakpoint-md: 38rem;
    --breakpoint-lg: 42rem;
    --breakpoint-xl: 42rem;
    --breakpoint-2xl: 42rem;
}

body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Liberation Mono', sans-serif ;
}

article {
    @apply prose dark:prose-invert ;
    @apply first:mt-0;
}

a:hover {
    @apply text-blue-300 dark:text-blue-700;
}