---
import { NavLinks } from "../deed.config";
---

<footer class="border-t border-neutral-200 dark:border-neutral-700/90">
    <div class="container mx-auto p-6">
        <div class="space-y-4 text-sm text-neutral-400 dark:text-neutral-600">
            <nav class="flex items-center gap-2.5 *:underline *:font-medium">
                {NavLinks.map( item => <a href={item.HREF}>{item.NAME}</a>)}
            </nav>
            <div>以诚实、理性、尊重与开放为原则，书写中文互联网应有的文字与思想。</div>
        </div>
    </div>
</footer>