---
import { SITE } from "../deed.config";
---

<header class="sticky top-0 border-b border-neutral-200 bg-neutral-100 dark:bg-neutral-800 dark:border-neutral-700/90">
    <div class="container mx-auto px-6 py-2.5">
        <a href="/" aria-label="首页" class="inline-flex items-center gap-2.5">
            <img src={SITE.LOGO} class="size-6">
            <h1>{SITE.TITLE}</h1>
        </a>
    </div>
</header>