---
import "../styles/global.css";
import { SITE } from "../deed.config"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = { 
	title?: string; 
	description?: string; 
	emptyLayout?: boolean 
}

const { title = '', description = '', emptyLayout = false } = Astro.props;
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title+' - '+SITE.TITLE : SITE.TITLE}</title>
		<meta name="description" content={description ? description : SITE.DESCRIPTION} />
	</head>
	<body class="dark:text-neutral-200 dark:bg-neutral-900">

        {!emptyLayout && <Header />}

        <slot />

		<Footer />

	</body>
</html>