---
import BaseLayout from "./BaseLayout.astro";

---

<BaseLayout>
    <main class="container mx-auto px-6 py-8 space-y-8">
        <article>
            <slot />
        </article>
    </main>
</BaseLayout>